{% load static %}
{% include 'home/header.html' %}

<style>
         .upload {
             border: 0px solid;
         }
</style>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
<div class="container">
<a class="navbar-brand" href="{% url 'home' %}">Cognoscentesoft</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
<span class="oi oi-menu"></span> Menu
</button>
<div class="collapse navbar-collapse" id="ftco-nav">
<ul class="navbar-nav ml-auto">

<li class="nav-item {% if active == "home" %}active{% endif %}"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
<li class="nav-item {% if active == "about" %}active{% endif %}"><a href="{% url 'about' %}" class="nav-link">About</a></li>
<li class="nav-item {% if active == "services" %}active{% endif %}"><a href="{% url 'services' %}" class="nav-link">Services</a></li>
<li class="nav-item {% if active == "projects" %}active{% endif %}"><a href="{% url 'projects' %}" class="nav-link">Projects</a></li>
<li class="nav-item {% if active == "blog" %}active{% endif %}"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
<li class="nav-item {% if active == "contact" %}active{% endif %}"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
</ul>
</div>
</div>
</nav>
<section class="hero-wrap hero-wrap-2" style="background-image:url({% static 'images/contact_1.jpg' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Contact us <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Contact us</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters">
                        <div class="col-md-7 d-flex align-items-stretch">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Get in touch</h3>
                                <form  enctype="multipart/form-data" method="POST" action="{% url 'contact' %}"
                            onsubmit="return validateRecaptcha();"           class="contactForm">

                                {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="name" id="name"
                                                       placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="email" class="form-control" name="email" id="email"
                                                       placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="subject" id="subject"
                                                       placeholder="Subject">
                                            </div>
                                        </div>
                                          <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="hidden" id="tele-hidden">
                          <input type="tel" name="contact_number" class="form-control upload" placeholder="Contact number" id="telephone" autocomplete="off" data-intl-tel-input-id="0" style="
    width: 225%;
">
                                                  <input type="hidden" id="tele-hidden" name="tele-hidden">
                                            </div>
                                        </div>

                                          <div class="col-md-12">
                                            <div class="form-group">

                                        <select  class="form-control" name="budget">
                           <option value="" selected="">What is your Allotted Budget?
                           </option>
                            <option value="$1000 or less">< $500</option>
                            <option value="$1000 or less">$500 - $1000</option>
                           <option value="$1000-$5000">$1000 - $5000</option>
                           <option value="$5000-$10000">$5000 - $10000</option>
                           <option value="$10000-$25000">$10000 - $25000
                           </option>
                           <option value="$25000-$50000">$25000 - $50000</option>
                           <option value="$50000 or more">&gt; $50000</option>
                        </select>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea name="message" class="form-control" id="message" cols="30"
                                                          rows="7" placeholder="Message"></textarea>
                                            </div>
                                        </div>
                                              <div class="col-md-12">
                                            <div class="form-group">

                                             <input type="file" class="form-control" name="img" id="img"
                                                      multiple>

                                            </div>
<div class="g-recaptcha" data-sitekey="6Le1WyUcAAAAAMewIx3onhYvMlznjmCOLYmhbLrJ" data-theme="light" data-size="normal" data-image="image" data-callback="enableBtn"
></div>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
                                              </div>




                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input style="margin-top: 20px;" type="submit"   id="submit_details" disabled value="Send Message" class="btn btn-primary">
                                                <div class="submitting"></div>

                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretch">
                            <div class="info-wrap bg-darken w-100 p-lg-5 p-4">
                                <h3 class="mb-4 mt-md-4">Contact us</h3>
                                <div class="dbox w-100 d-flex align-items-start">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-map-marker"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Address:</span> Chandigarh, India</p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-phone"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Phone:</span> <a href="tel://+91 90411 50716 ">+91 90411 50716 </a></p>
                                    </div>
                                </div>
                                <div class="dbox w-100 d-flex align-items-center">
                                    <div class="icon d-flex align-items-center justify-content-center">
                                        <span class="fa fa-paper-plane"></span>
                                    </div>
                                    <div class="text pl-3">
                                        <p><span>Email:</span> <a
                                                href="mailto:contact@cognoscentesoft.com"><span
                                                class="__cf_email__"
                                                >contact@cognoscentesoft.com</span></a>
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 mt-5">
                <div class="bg-white">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13745.578448036644!2d75.95196517196884!3d30.538153188684518!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391069a660696aef%3A0x3bc789e57615106b!2sChandigarh%2C%20Punjab%20148023!5e0!3m2!1sen!2sin!4v1631191146345!5m2!1sen!2sin" width="1000" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    function enableBtn(){
        document.getElementById("submit_details").disabled = false;
    }
</script>
{% include 'home/footer.html' %}