
{% load static %}

{% include 'home/header.html' %}

<section class="hero-wrap hero-wrap-2" style="background-image:url({% static 'images/dg_prod.png' %})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end">
            <div class="col-md-9 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span>Services <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Services</h1>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-7 heading-section text-center ftco-animate">
                <span class="subheading">Services</span>
                <h2>{{ dg_prods.ser_name }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 ftco-animate">
                <div class="block-7">
                    <div class="img" style="background-image: url({{ dg_prods.ser_header_img }});"></div>
                    <div class="p-4">
<h2>{{ dg_prods.ser_heading }}</h2><br>
<p style="color: #1e1f23">{{ dg_prods.ser_desc_1 }}
</p>
<br>
                        <p style="color: #1e1f23"> {{ dg_prods.ser_desc_2 }}</p>
                    </div>
                    <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">

                        <p class="w-100 mb-0">
                            <a href="{% url 'contact' %}" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 ftco-animate">
                <div class="block-7">
                    <div class="img" style="height: 331px;background-image: url({{ dg_prods.ser_side_img }});"></div>
                    <div class="p-4">
                        <ul class="pricing-text mb-2">
                            {% if dg_prods.ser_one != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_one }}</li>
                        {% endif %}
                          {% if dg_prods.ser_two != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_two }}</li>{% endif %}
                          {% if dg_prods.ser_three != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_three }}</li>{% endif %}
                          {% if dg_prods.ser_four != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_four }}</li>{% endif %}
                          {% if dg_prods.ser_five != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_five }}</li>{% endif %}
                             {% if dg_prods.ser_six != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_six }}</li>{% endif %}
                             {% if dg_prods.ser_seven != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_seven }}</li>{% endif %}
                             {% if dg_prods.ser_eight != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_eight }}</li>{% endif %}
                             {% if dg_prods.ser_nine != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_nine }}</li>{% endif %}
                             {% if dg_prods.ser_ten != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_ten }} </li>{% endif %}
                             {% if dg_prods.ser_eleven != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_eleven }} </li>{% endif %}
                             {% if dg_prods.ser_twelve != ''  %}
                            <li><span class="fa fa-check-circle mr-2"></span>{{ dg_prods.ser_twelve }} </li>{% endif %}
                        </ul>
                    </div>
                    <div class="d-lg-flex align-items-center w-100 bg-light py-2 px-4">

                        <p class="w-100 mb-0">
                            <a href="{% url 'contact' %}" class="btn btn-primary d-block px-2 py-3">Get Started</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

{% include 'home/footer.html' %}