{% load static %}
<footer class="ftco-footer">
    <div class="container">
        <div class="row mb-5">
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">

                    <a href="https://api.whatsapp.com/send?phone=+919041150716&text=Hello%21%20There" class="float"
                       target="_blank">
                        <i class="fa fa-whatsapp my-float"></i>
                    </a>
                    <h2 class="ftco-heading-2 logo"><a href="{% url 'home' %}">Cognoscentesoft</a></h2>
                    <p>Happy Customers, Happy Us !!</p>
                    <ul class="ftco-footer-social list-unstyled mt-2">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-linkedin"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Explore</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right mr-2"></span>About</a></li>
                        <li><a href="{% url 'contact' %}"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                        <li><a href="{% url 'projects' %}"><span class="fa fa-chevron-right mr-2"></span>Portfolio</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4 ml-md-4">
                    <h2 class="ftco-heading-2">Info</h2>
                    <ul class="list-unstyled">

                        <li><a href="{% url 'blog' %}"><span class="fa fa-chevron-right mr-2"></span>Blog</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Privacy &amp; Policy</a></li>
                        <li><a href="{% url 'services' %}"><span class="fa fa-chevron-right mr-2"></span>Services</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Company</h2>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'about' %}"><span class="fa fa-chevron-right mr-2"></span>About Us</a></li>
                        <li><a href="{% url 'contact' %}"><span class="fa fa-chevron-right mr-2"></span>Contact</a></li>
                        <li><a href="#"><span class="fa fa-chevron-right mr-2"></span>Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map marker"></span><span class="text">Chandigarh, India</span>
                            </li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span
                                    class="text">+91 90411 50716</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane pr-4"></span><span class="text"><span
                                    class="__cf_email__">contact@cognoscentesoft.com</span></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid px-0 py-5 bg-black">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="mb-0" style="color: rgba(255,255,255,.5);">
                        Copyright &copy;<script data-cfasync="false"
                                                src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
                        <script>document.write(new Date().getFullYear());</script>
                        All rights reserved |  <a
                            href="{% url 'home' %}" target="_blank" rel="nofollow noopener">Cognoscentesoft Pvt. Ltd.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>

<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-3.0.1.min.js%2bpopper.min.js%2bbootstrap.min.js.pagespeed.jc.4infH6hayr.js' %}"></script>
<script>eval(mod_pagespeed_JQbWeHSeo6);</script>
<script>eval(mod_pagespeed_1IF$kurK7J);</script>
<script>eval(mod_pagespeed_l4PMoDW2WY);</script>
<script src="{% static 'js/jquery.easing.1.3.js%2bjquery.waypoints.min.js%2bjquery.stellar.min.js%2bowl.carousel.min.js.pagespeed.jc.wZ4uGdugvA.js' %}"></script>
<script>eval(mod_pagespeed_sfXTVvAXWF);</script>
<script>eval(mod_pagespeed_W58zI51_rQ);</script>
<script>eval(mod_pagespeed_lNdHgWfrmj);</script>
<script>eval(mod_pagespeed_kZImVmZSCD);</script>
<script src="{% static 'js/jquery.magnific-popup.min.js%2bjquery.animateNumber.min.js%2bscrollax.min.js%2bgoogle-map.js%2bmain.js.pagespeed.jc.k5-l3qe_JK.js' %}"></script>
<script>eval(mod_pagespeed_y6Yg2Sv1bW);</script>
<script>eval(mod_pagespeed_K24lcwroFh);</script>
<script>eval(mod_pagespeed_aFT9yuhK3I);</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&amp;sensor=false"></script>
<script>eval(mod_pagespeed_hWMh8VwJ1o);</script>
<script>eval(mod_pagespeed_IUdzWSZMeb);</script>
<script src="https://igniteui.com/js/modernizr.min.js"></script>
<script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<script src="https://cdn-na.infragistics.com/igniteui/latest/js/infragistics.core.js"></script>
<script src="https://cdn-na.infragistics.com/igniteui/latest/js/infragistics.lob.js"></script>
<!-- Use as a Vanilla JS plugin -->

<script src="{% static 'dashboard/js/intl-tel-input-master/build/js/intlTelInput.min.js' %}"></script>

<!-- Use as a jQuery plugin -->


<script src="{% static 'dashboard/js/intl-tel-input-master/build/js/intlTelInput-jquery.min.js' %}"></script>

<script>
    // Vanilla Javascript
    var input = document.querySelector("#telephone");
    window.intlTelInput(input, ({
        // options here
    }));

    // jQuery
    $("#telephone").intlTelInput({
        // options here
    });
</script>

<script>
    $(document).ready(function () {

        $('#telephone').keypress(function () {
            var country = document.getElementsByClassName("iti__selected-flag")[1];
            var code = country.getAttribute('title');
            $('input[name="tele-hidden"]').val(code);
        })

    });
</script>

<script>
    $(document).ready(function () {

        $('#igUpload1').click(function () {

            var country = document.getElementsByClassName("ui-igupload-progressbar-container")[0];
            var code = country.getAttribute('title');
            alert(code)
        })


    });
</script>

<script>$(function () {
    var buttonLabel = $.ig.Upload.locale.labelUploadButton;
    if (Modernizr.input.multiple) {
        buttonLabel = "Drag and Drop Files Here <br/> or Click to Select From a Dialog";
    }
    $("#igUpload1").igUpload({
        mode: 'multiple',
        multipleFiles: true,
        maxUploadedFiles: 5,
        maxSimultaneousFilesUploads: 2,
        progressUrl: "https://igniteui.com/IGUploadStatusHandler.ashx",
        controlId: "serverID1",
        labelUploadButton: buttonLabel,
        onError: function (e, args) {
            showAlert(args);
        }
    });
    if (Modernizr.input.multiple) {
        $(".ui-igstartupbrowsebutton").attr("style", "width: 320px; height: 80px;");
    }
    $("#useSingleRequestCheck").igCheckboxEditor({
        checked: false,
        valueChanged: function (evt, ui) {
            $("#igUpload1").igUpload("option", "useSingleRequest", ui.newState);
        }
    });
});

function showAlert(args) {
    $("#error-message").html(args.errorMessage).stop(true, true).fadeIn(500).delay(3000).fadeOut(500);
}
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-23581568-13');
</script>
<script defer src="../../../static.cloudflareinsights.com/beacon.min.js"
        data-cf-beacon='{"rayId":"6809145d7ca14da5","token":"cd0b4b3a733644fc843ef0b185f98241","version":"2021.8.1","si":10}'></script>
</body>

</html>