{% load static %}

{% include 'home/header.html' %}
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Cognoscentesoft</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">

               <li class="nav-item {% if active == "home" %}active{% endif %}"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
<li class="nav-item {% if active == "about" %}active{% endif %}"><a href="{% url 'about' %}" class="nav-link">About</a></li>
<li class="nav-item {% if active == "services" %}active{% endif %}"><a href="{% url 'services' %}" class="nav-link">Services</a></li>
<li class="nav-item {% if active == "projects" %}active{% endif %}"><a href="{% url 'projects' %}" class="nav-link">Projects</a></li>
<li class="nav-item {% if active == "blog" %}active{% endif %}"><a href="{% url 'blog' %}" class="nav-link">Blog</a></li>
<li class="nav-item {% if active == "contact" %}active{% endif %}"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="hero-wrap hero-wrap-2"
         style="background-image:url(/static/images/xbg_4.jpg.pagespeed.ic.jsNSabbn7j.jpg)">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-10 ftco-animate pb-5">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span>
                    <span class="mr-2"><a href="index.html">Blog <i class="fa fa-chevron-right"></i></a></span> <span>Portfolio Single <i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Creative Design</h1>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 ftco-animate portfolio-single py-md-5 mt-md-5">

                <p>

                <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom">
                        <img id="img01" style="width:100%">
                    </div>
                </div>


                <img src="{{ project.p_img_1 }}" alt="" class="img-fluid" style="height: 667px; width: 1000px;">
                <br>

                <img src="{{ project.p_img_2 }}" style="height: 300px; width: 300px;cursor:pointer"
                     onclick="onClick(this)" class="w3-hover-opacity mt-5 mr-5">

                <img src="{{ project.p_img_3 }}" style="height: 300px; width: 300px;cursor:pointer"
                     onclick="onClick(this)" class="w3-hover-opacity mt-5 mr-5">

                <img src="{{ project.p_img_4 }}" style="height: 300px; width: 300px;cursor:pointer"
                     onclick="onClick(this)" class="w3-hover-opacity mt-5">
                </p
                <span class="portfolio-category">{{ project.p_service }}</span>
                <h2 class="mb-3 heading-title">{{ project.p_name }}</h2>
                <p>{{ project.p_desc_1 }}</p>
                <p>{{ project.p_desc_2 }}</p>
                <div class="tag-widget post-tag-container mb-5 mt-5">
                    <h4>Tools & Technologies used</h4>
                    <div class="tagcloud">

                         {% if project.p_skill_1 %}  <a href="#" class="tag-cloud-link">{{ project.p_skill_1 }}</a>{% endif %}
                         {% if project.p_skill_2 %}  <a href="#" class="tag-cloud-link">{{ project.p_skill_2 }}</a>{% endif %}
                         {% if project.p_skill_3 %}  <a href="#" class="tag-cloud-link">{{ project.p_skill_3 }}</a>{% endif %}
                         {% if project.p_skill_4 %}  <a href="#" class="tag-cloud-link">{{ project.p_skill_4 }}</a>{% endif %}
                         {% if project.p_skill_5 %}  <a href="#" class="tag-cloud-link">{{ project.p_skill_5 }}</a>{% endif %}
                        {% if project.p_skill_6 %}   <a href="#" class="tag-cloud-link">{{ project.p_skill_6 }}</a>{% endif %}
                        {% if project.p_skill_7 %} <a href="#" class="tag-cloud-link">{{ project.p_skill_7 }}</a>{% endif %}
                        {% if project.p_skill_8 %} <a href="#" class="tag-cloud-link">{{ project.p_skill_8 }}</a>{% endif %}
                        {% if project.p_skill_9 %} <a href="#" class="tag-cloud-link">{{ project.p_skill_9 }}</a>{% endif %}
                        {% if project.p_skill_10 %}<a href="#" class="tag-cloud-link">{{ project.p_skill_10 }}</a>{% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<section class="ftco-intro ftco-section ftco-no-pb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="img" style="background-image:url({% static 'images/newsletter.jpg' %})">
                    <div class="overlay"></div>
                    <h2>Join Us Newsletter</h2>
                    <p>Sign Up to our Newsletter and get our latest news update</p>
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <form action="#" class="subscribe-form">
                                <div class="form-group d-flex">
                                    <input type="text" class="form-control" placeholder="Enter email address">
                                    <input type="submit" value="Subscribe" class="submit px-3">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>
{% include 'home/footer.html' %}