{% load static %}

{% include 'dashboard/header.html' %}

<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Product Edit</h2>
                                    <p>Welcome <span class="bread-ntd">{{ username }} </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn">
                                    <i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single pro tab start-->
<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit"
                                                                         aria-hidden="true"></i> Edit Products</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <form enctype="multipart/form-data" action="{% url 'edit_product'  pid %}"
                                              method="post">

                                            {% csrf_token %}

                                            <div class="form-group">

                                                <input type="text" placeholder="Product Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_name }}" name="p_name" id="username"
                                                       class="form-control">
                                            </div>

                                            <div class="form-group">

                                                <input type="text" title="Please enter description"
                                                       placeholder="Please enter description"
                                                       value="{{ p_desc }}" name="p_desc" id="password"
                                                       class="form-control">

                                            </div>
                                            <div class="form-group">
                                                <input type="text" title="Please enter price"
                                                       placeholder="Please enter price"
                                                       value="{{ p_price }}" name="p_price" id="password"
                                                       class="form-control">
                                            </div>

                                            <div class="form-group" style="color: red">
                                                <img src="{{ p_image }}" alt=""/>
                                                <input class="form-control" type="file" name="update"/>
                                            </div>


                                            <button type="submit" value="edit_product" name="edit_product"
                                                    class="btn btn-default btn-block">Save
                                            </button>

                                        </form>
                                    </div>

                                </div>

                            </div>
                            {#
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy-right">
                    <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">E-commerce</a> All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include 'dashboard/footer.html' %}