{% load static %}

{% include 'dashboard/header.html' %}

<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Edit Project</h2>
                                    <p>Welcome to <span class="bread-ntd">Admin Template</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn">
                                    <i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single pro tab start-->
<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit"
                                                                         aria-hidden="true"></i>Edit Project</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                         <form enctype="multipart/form-data" action="{% url 'edit_blog' b_id_pk %}" method="post">

                                            {% csrf_token %}

                            <div class="form-group">
<h5 style="color: white;"> Name  :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_name" id="username"  value="b_name"
                                                       class="form-control">
                                            </div>
                                            <div class="form-group">
<h5 style="color: white;"> Heading 1 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_1" id="username" value="b_heading_1"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_1"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_1 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_2"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_2 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image : </h5>
                                                <img style="height: 200px;" src="{{ b_image_1 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_1"
                                        value="b_image_1"/>

                                            </div>

  <div class="form-group">
<h5 style="color: white;"> Heading 2 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_2" id="username" value="b_heading_2"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_3"
                                             style="height: 100px;" id="password" class="form-control">{{ b_desc_3 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_4"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_4 }}</textarea>
                                            </div>
  <div class=" form-group" style="color: red">
<h5 style="color: white;"> Image 2 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_2 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_2"
                              value="b_image_2"                  />

                                            </div>
  <div class="form-group">
<h5 style="color: white;"> Heading 3 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_3" id="username" value="b_heading_3"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_5"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_5 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_6"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_6 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image 3 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_3 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_3"
                                          value="b_image_3"      />

                                            </div>

                                               <div class="form-group">
<h5 style="color: white;"> Heading 4 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_4" id="username" value="b_heading_4"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_7"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_7 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_8"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_8 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image  4: </h5>
                                                <img style="height: 200px;" src="{{ b_image_4 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_4"
                                    value="b_image_4"            />

                                            </div>

                                               <div class="form-group">
<h5 style="color: white;"> Heading 5 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_5" id="username" value="b_heading_5"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_9"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_9 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_10"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_10 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image 5 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_5 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_5"
                            value="b_image_5"                    />

                                            </div>
                                              <div class="form-group">
<h5 style="color: white;"> Heading 6:</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_6" id="username" value="b_heading_6"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_11"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_11 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_12"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_12 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image 6 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_6 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_6"
                                   value="b_image_6"             />

                                            </div>


                                               <div class="form-group">
<h5 style="color: white;"> Heading 7 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_7" id="username" value="b_heading_7"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_13"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_13 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_14"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_14 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image 7 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_7 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_7"
                                          value="b_image_7"      />

                                            </div>

                                               <div class="form-group">
<h5 style="color: white;"> Heading 8 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_8" id="username" value="b_heading_8"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_15"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_15 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_16"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_16 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image 8 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_8 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_8"
                                       value="b_image_8"         />

                                            </div>
                                               <div class="form-group">
<h5 style="color: white;"> Heading 9 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_9" id="username"  value="b_heading_9"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_17"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_17 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_18"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_18 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image 9 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_9 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_9"
                                       value="b_image_9"         />

                                            </div>
                                               <div class="form-group">
<h5 style="color: white;"> Heading 10 :</h5>
                                                <input type="text" placeholder="Name"
                                                       title="Please enter  Name"
                                                       name="b_heading_10" id="username" value="b_heading_10"
                                                       class="form-control">
                                            </div>

                                                                         <div class="form-group">
<h5 style="color: white;">Description 1 :</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_19"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_19 }}</textarea>
                                            </div>


                                                                         <div class="form-group">
<h5 style="color: white;">Description 2:</h5>
                                                  <textarea placeholder="Please enter review" name="b_desc_20"
                                                     style="height: 100px;" id="password" class="form-control">{{ b_desc_20 }}</textarea>
                                            </div>
  <div class="form-group" style="color: red">
<h5 style="color: white;"> Image 10 : </h5>
                                                <img style="height: 200px;" src="{{ b_image_10 }}" alt=""/>
                                                <input class="form-control" type="file" name="b_image_10" value="b_image_10"
                                                />

                                            </div>



                                            <button type="submit"
                                                    class="btn btn-default btn-block">Save
                                            </button>

                                        </form>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy-right">
                    <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include 'dashboard/footer.html' %}