{% load static %}

{% include 'dashboard/header.html' %}

<div class="breadcome-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcome-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="icon nalika-home"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>Edit FAQS</h2>
                                    <p>Welcome to <span class="bread-ntd">Admin Template</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn">
                                    <i class="icon nalika-download"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- Single pro tab start-->
<div class="single-product-tab-area mg-b-30">
    <!-- Single pro tab review Start-->
    <div class="single-pro-review-area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="review-tab-pro-inner">
                        <ul id="myTab3" class="tab-review-design">
                            <li class="active"><a href="#description"><i class="icon nalika-edit"
                                                                         aria-hidden="true"></i>Edit FAQS</a></li>
                        </ul>
                        <div id="myTabContent" class="tab-content custom-product-edit">
                            <div class="product-tab-list tab-pane fade active in" id="description">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                         <form enctype="multipart/form-data" action="{% url 'dash_faqs' %}" method="post">

                                            {% csrf_token %}

                                            <div class="form-group">
<h5 style="color: white;">FAQ heading:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ faq_heading }}" name="faq_heading" id="username"
                                                       class="form-control">
                                            </div>

<div class="form-group col-lg-6">
<h5 style="color: white;">FAQ 1:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ faq_one }}" name="faq_one" id="username"
                                                       class="form-control">
                                            </div>
<div class="form-group col-lg-6">
<h5 style="color: white;">Answer 1</h5>
    <textarea placeholder="Please enter description" name="faq_ans_1"
                                                          style="height: 100px;" id="password"
                                                          class="form-control">{{ faq_ans_1 }}</textarea>

                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">FAQ 2:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ faq_two }}" name="faq_two" id="username"
                                                       class="form-control">
                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">Answer 2</h5>
                                               <textarea placeholder="Please enter description" name="faq_ans_2"
                                                          style="height: 100px;" id="password"
                                                          class="form-control">{{ faq_ans_2 }}</textarea>

                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">FAQ 3:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ faq_three }}" name="faq_three" id="username"
                                                       class="form-control">
                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">Answer 3</h5>
                                                <textarea placeholder="Please enter description" name="faq_ans_3"
                                                          style="height: 100px;" id="password"
                                                          class="form-control">{{ faq_ans_3 }}</textarea>

                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">FAQ 4:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ faq_four }}" name="faq_four" id="username"
                                                       class="form-control">
                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">Answer 4:</h5>
                                                <textarea placeholder="Please enter description" name="faq_ans_4"
                                                          style="height: 100px;" id="password"
                                                          class="form-control">{{ faq_ans_4 }}</textarea>

                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">FAQ 5:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ faq_five }}" name="faq_five" id="username"
                                                       class="form-control">
                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">Answer :</h5>
                                                 <textarea placeholder="Please enter description" name="faq_ans_5"
                                                          style="height: 100px;" id="password"
                                                          class="form-control">{{ faq_ans_5 }}</textarea>

                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">FAQ 6:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ faq_six }}" name="faq_six" id="username"
                                                       class="form-control">
                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">Answer 6:</h5>
                                                  <textarea placeholder="Please enter description" name="faq_ans_6"
                                                          style="height: 100px;" id="password"
                                                          class="form-control">{{ faq_ans_6 }}</textarea>

                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">Quality 1:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_1_name }}" name="p_1_name" id="username"
                                                       class="form-control">
                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">Quality score </h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_1_value }}" name="p_1_value" id="username"
                                                       class="form-control">
                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">Quality 2:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_2_name }}" name="p_2_name" id="username"
                                                       class="form-control">
                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">Quality score </h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_2_value }}" name="p_2_value" id="username"
                                                       class="form-control">
                                            </div><div class="form-group col-lg-6">
<h5 style="color: white;">Quality 3:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_3_name }}" name="p_3_name" id="username"
                                                       class="form-control">
                                            </div>
  <div class="form-group col-lg-6">
<h5 style="color: white;">Quality score </h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_3_value }}" name="p_3_value" id="username"
                                                       class="form-control">
                                            </div>


<div class="form-group col-lg-6">
<h5 style="color: white;">Quality 4:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_4_name }}" name="p_4_name" id="username"
                                                       class="form-control">
                                            </div>
  <div class="form-group col-lg-6">
<h5 style="color: white;">Quality score </h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_4_value }}" name="p_4_value" id="username"
                                                       class="form-control">
                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">Quality 5:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_5_name }}" name="p_5_name" id="username"
                                                       class="form-control">
                                            </div>
  <div class="form-group col-lg-6">
<h5 style="color: white;">Quality score </h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_5_value }}" name="p_5_value" id="username"
                                                       class="form-control">
                                            </div>
                                             <div class="form-group col-lg-6">
<h5 style="color: white;">Quality 6:</h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_6_name }}" name="p_6_name" id="username"
                                                       class="form-control">
                                            </div>
  <div class="form-group col-lg-6">
<h5 style="color: white;">Quality score </h5>
                                                <input type="text" placeholder="Service Name"
                                                       title="Please enter Product Name"
                                                       value="{{ p_6_value }}" name="p_6_value" id="username"
                                                       class="form-control">
                                            </div>







                                            <button type="submit"
                                                    class="btn btn-default btn-block">Save
                                            </button>

                                        </form>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-copyright-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copy-right">
                    <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

{% include 'dashboard/footer.html' %}