{% include 'dashboard/header.html' %}


            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcome-heading">
                                         <h4 style="color: white;">View Query</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">View Query</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mailbox-view-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="hpanel email-compose mailbox-view mg-b-15">
                            <div class="panel-heading hbuilt">

                                <div class="p-xs h4">
                                    <small class="pull-right">
											08:26 PM (16 hours ago)
										</small> Query  view

                                </div>
                            </div>
                            <div class="border-top border-left border-right bg-light">
                                <div class="p-m custom-address-mailbox">
                                    <div>
                                      <b>  <span class="font-extra-bold">Name: </span></b> {{ name }}
                                    </div>
                                    <div>
                                        <b>    <span class="font-extra-bold">Subject: </span></b> {{ subject }}
                                    </div>
                                    <div>
                                      <b> <span class="font-extra-bold">Email: </span></b>
                                       <a href = "mailto:" >{{ email}}</a>
                                    </div>
                                    <div>
                                     <b><span class="font-extra-bold">Date: </span></b>    {{ date }}
                                    </div>
                                     <div>
                                    <b>    <span class="font-extra-bold">Budget: </span></b> {{ budget }}
                                    </div>
                                    <div>
                                    <b><span class="font-extra-bold">Country and Country Code : </span></b>     {{ code }}
                                    </div>
                                      <div>
                                       <b> <span class="font-extra-bold">Contact Number : </span> </b>{{ contact }}
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body panel-csm">
                                <div>
                                    <h4>Hello Team, We got this query. </h4>

                                    <p>{{ message }}</p>


                                    </p>
                                </div>
                            </div>

                            <div class="border-bottom border-left border-right bg-white mg-tb-15">
                                <p class="m-b-md">
                                    <span><i class="fa fa-paperclip"></i> {{ len }} attachments - </span>

                                </p>

                                <div>
                                    <div class="row">
                                        {% for i in attachment %}

                                        <div class="col-sm-3 col-md-3 col-sm-3 col-xs-12">
                                            <div class="hpanel">
                                                <div class="panel-body file-body incon-ctn-view">
                                                    <i class="fa fa-file text-info"></i>
                                                </div>
                                                <div class="panel-footer">
                                                    <a href="{{ i }}">{{ i }}</a>
                                                </div>
                                            </div>
                                        </div>
                                      {% endfor %}
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="footer-copy-right">
                            <p>Copyright © 2021 <a href="#">PEP OFFICE</a> All rights reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% include 'dashboard/footer.html' %}